@import "tailwindcss";

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/Inter/InterVariable-Italic.woff2") format("woff2");
}

@theme {
  --font-sans: "InterVariable", sans-serif;
  --color-primary: #584311;
  --color-primary-text: #FDD9B9;
}

body {
  background-color: var(--color-primary);
  color: var(--color-primary-text);
}
