---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={`About - ${SITE_TITLE}`}
            description="About this website"
        />
    </head>
    <body class="min-h-dvh flex flex-col">
        <Header />
        <main class="flex-1 px-1.5">
            <article>
                <h1>About this website</h1>
                <p>
                    Welcome to bildung.work — Hector's corner of the internet.
                </p>
            </article>
        </main>
        <Footer />
    </body>
</html>
