---
interface Props {
    spacer?: boolean;
}
const { spacer = false } = Astro.props;
---

<nav
    class:list={[
        "flex justify-center gap-4 py-4 text-[12px] lowercase",
        spacer && "mt-8",
    ]}
>
    <a
        class="underline focus:bg-selection"
        href="https://github.com/noctisatrae">GitHub</a
    >
    <a class="underline focus:bg-selection" href="/rss">RSS</a>
    <a class="underline focus:bg-selection" href="/about">About This Website</a>
</nav>
