---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from "./Logo.astro";
---

<header>
    <nav>
        <h2>
            <a
                href="/"
                class="flex items-center py-2 px-3 gap-3 text-[20px] font-medium"
            >
                <Logo
                    role="img"
                    aria-label="Bildung logo, a smiling face with squiggly lines"
                />
                {SITE_TITLE}
            </a>
        </h2>
    </nav>
</header>
