---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

import Back from "../assets/back.svg";
import Link from "../assets/link.svg";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body class="min-h-dvh flex flex-col">
        <Header />
        <main
            class="flex-1 px-3 max-w-[80ch] w-full mx-auto overflow-hidden font-mono"
        >
            <article>
                <header class="flex pb-5">
                    <nav>
                        <ul class="header-links">
                            <li>
                                <a
                                    id="go-home"
                                    class="underline flex items-center gap-2"
                                    href="/"
                                >
                                    <Back />
                                    go home</a
                                >
                            </li>
                            <li>
                                <a
                                    id="permalink"
                                    class="underline flex items-center gap-2"
                                    href={Astro.url.pathname}
                                >
                                    <Link />
                                    permalink</a
                                >
                            </li>
                        </ul>
                    </nav>
                    <FormattedDate date={pubDate} />
                </header>
                <section class="prose">
                    <slot />
                </section>
            </article>
        </main>
        <Footer spacer />
    </body>
</html>
